<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionIncidencias"
        tools:targetApi="31">
        <activity
            android:name=".Rol.Activity_Info_Rol"
            android:exported="false" />
        <activity
            android:name=".Rol.Activity_Rol"
            android:exported="false" />
        <activity
            android:name=".Usuario.Activity_Info_Usuario"
            android:exported="false" />
        <activity
            android:name=".Ubicacion.Activity_Info_Ubicacion"
            android:exported="false" />
        <activity
            android:name=".Tipo.Activity_Info_Tipo"
            android:exported="false" />
        <activity
            android:name=".Prestamo.Activity_Info_Prestamo"
            android:exported="false" />
        <activity
            android:name=".Incidencia.Activity_Info_Incidencia"
            android:exported="false" />
        <activity
            android:name=".Elemento.Activity_Info_Elemento"
            android:exported="false" />
        <activity
            android:name=".Sala.Activity_Info_Sala"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal.ActivityMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prestamo.ActivityPrestamo"
            android:exported="false" />
        <activity
            android:name=".Usuario.ActivityUsuario"
            android:exported="true" />
        <activity
            android:name=".Elemento.activityElemento"
            android:exported="false" />
        <activity
            android:name=".Ubicacion.activityUbicacion"
            android:exported="false" />
        <activity
            android:name=".Incidencia.activityIncidencia"
            android:exported="false" />
        <activity
            android:name=".Tipo.activityTipo"
            android:exported="false" />
        <activity
            android:name=".Sala.activitySalas"
            android:exported="false" />
    </application>

</manifest>